%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
    %% http client
    {hackney, ".*", {git,"git://github.com/benoitc/hackney.git",
                     {branch, "master"}}},

     %% logging
    {lager, ".*", {git, "git://github.com/basho/lager.git",
                  {branch, "master"}}},

    %% cowboy HTTP handler
    {cowboy, ".*", {git, "git://github.com/refuge/cowboy.git",
            {branch, "master"}}}
]}.

